.card {
  margin-bottom: 0.625rem;
  padding: 0.625rem;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 0.3125rem;
}

.card h3 {
  margin-top: 0;
  text-transform: uppercase;
}

.card p::first-letter {
    text-transform: uppercase;

}

.delete-button {
  color: red;
  cursor: pointer;
  display: block;
  width: 3.75rem;
  text-align: center;
  border-radius: .625rem;
  background: #b8ffff;
}
